{
  "extends": ["airbnb", "plugin:flowtype/recommended", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "env": { "es6": true, "browser": true },
  "plugins": ["flowtype", "jest"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [2, 150, 2, { "ignoreUrls": true }],
    "comma-dangle": [1, "never"],
    "jsx-a11y/anchor-is-valid": [0],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }]
  }
}
